.div-menu {
    display: flex;
    height: 80px;
}

.logo {
    height: 100%;
}

.div-avatar {
    flex: 1;
    text-align: center;
    height: 80px;
    border-bottom: 2px solid #333;
}

.ulSlideBar {
    flex: 11;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.liSlideBar {
    float: left;
    display: flex;
    align-items: center;
}

.liSlideBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.liSlideBar a:hover {
    background-color: #111;
}
